/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Fondo responsive */
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-image: url('/assets/BackgroundBailarina.png'); 
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;   
  background-attachment: fixed;    
  min-height: 100vh;              
}

/* Ajuste para móviles */
@media (max-width: 768px) {
  body {
    background-attachment: scroll; 
  }
}

/* Variables globales */
:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
}

