.footer {
  background-color: #000;
  width: 100%;
  color: white;
  padding: 30px 40px;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-logo img {
  height: 80px;
}

.footer-info,
.footer-social,
.footer-links {
  text-align: left;
}

.footer-info p,
.footer-links a {
  margin: 5px 0;
  color: white;
  text-decoration: none;
}

.footer-links a {
  color: #00ff22;
}

.footer-info a {
  color: #00ff22;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social a {
  margin-right: 10px;
  display: inline-block;
}

.footer-social img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.footer-social img:hover {
  transform: scale(1.2);
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logos img {
  height: 40px;
  width: auto;
  transition: transform 0.3s;
}

.footer-logos img:hover {
  transform: scale(1.1);
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .footer {
    padding: 20px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logos img {
    height: 30px;
  }
}

@media (max-width: 480px) {
  .footer-logos img {
    height: 25px;
  }

  .footer-logo img {
    height: 60px;
  }

  .footer-social img {
    width: 20px;
    height: 20px;
  }
}
