<div class="container">
  <button class="back-button" (click)="goBack()">⬅ Volver</button>
  <h1 class="title">Detalles de la clase</h1>

  <div class="form-group">
    <label for="name">Nombre:</label>
    <p name="name"  id="name" type="text">{{clase.nombre}}</p> 

    <label for="descripcion">Descripción:</label>
    <p name="descripcion"  id="descripcion" >{{clase.descripcion}}</p>

    <label for="tipo">Tipo:</label>
    <p name="TipoClase" id="tipo" >{{clase.tipo}}</p>

    <label for="fecha">Fecha:</label>
    <p name="Fecha" id="fecha" >{{clase.fechaClase.toLocaleDateString('es-ES')}}</p>

    <label for="alumnosInscritos">Alumnos:</label>
    <p name="alumnosInscritos" id="alumnosInscritos">{{clase.alumnosInscritos}}</p> 
   
  </div>

  <button class="inscribirse-button" (click)="InscribirseClase()" [disabled]="isLoading"> {{ isLoading ? 'Inscribiendo...' : 'Inscribirse' }}</button>
  <button class="delete-button" (click)="eliminarInscripcion()" [disabled]="isLoadingEliminar">{{ isLoadingEliminar ? 'Eliminando...' : 'Eliminar inscripción' }}</button>
</div>
