<div class="container">
  <button class="back-button" (click)="goBack()">⬅ Volver</button>
  <h1 class="title">Detalles de la clase</h1>

  <div class="form-group">
    <label for="name">Nombre:</label>
    <input id="name" type="text" [(ngModel)]="clase.nombre" />

    <label for="descripcion">Descripción:</label>
    <input id="descripcion" type="text" [(ngModel)]="clase.descripcion" />

    <p name="TipoClase" id="tipo" >Tipo de la clase: {{ clase.tipo}}</p>

    <p name="TipoClase" id="tipo" >Fecha de la clase: {{ clase.fechaClase.toLocaleDateString()}}</p>

    <p name="alumnosInscritos" id="fecha">Alumnos inscritos: {{clase.alumnosInscritos}}</p> 
   
  </div>

  <button class="inscribirse-button" (click)="InscribirseClase()">Inscribirse</button>
  <button class="delete-button" (click)="eliminarInscripcion()">Eliminar inscripción</button>
</div>
