<header class="brand-header">
  <!-- Sección izquierda: nav + logo -->
  <div class="left-section">
    <nav class="main-nav" *ngIf="authService.isLoggedIn$ | async">
      <ul>
        <li><a routerLink="/principal">Inicio</a></li>
        <li><a [routerLink]="['/ClasesUsuario', usuarioId]">Mis Clases</a></li>
        <li><a routerLink="/noticias">Noticias</a></li>
      </ul>
    </nav>

    <a routerLink="/principal" aria-label="Ir a la página principal">
      <img class="brand-logo" src="/assets/HarteraphiaIcono.png" alt="logo" height="60"/>
    </a>
  </div>

  <!-- Título centrado -->
  <h1 class="brand-title">Harteraphia</h1>

  <!-- Logout a la derecha -->
  <ng-container *ngIf="authService.isLoggedIn$ | async">
    <a (click)="logout()" class="logout">Logout</a>
  </ng-container>
</header>

<main>
  <section class="Harteraphia">
    <router-outlet></router-outlet>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>



