<header class="brand-name">
  <a routerLink="/principal" aria-label="Ir a la página principal">
    <img class="brand-logo" src="/assets/HarteraphiaIcono.png" alt="logo" aria-hidden="true" height="60"/>
  </a>
  
 
  <h1>Harteraphia</h1>

  <ng-container *ngIf="authService.isLoggedIn">
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/principal">Inicio</a></li>
        <li><a [routerLink]="['/ClasesUsuario', usuarioId]">Mis Clases</a></li>
        <li><a routerLink="/noticias">Noticias</a></li>
      </ul>
    </nav>

    <a routerLink="/" class="logout">Logout</a>
  </ng-container>

</header>

<main>
  <section class="Harteraphia">
    <router-outlet></router-outlet>
  </section>
</main>

<footer><app-footer></app-footer></footer>


